<div class="flex flex-col justify-center">
  <div class="flex justify-center">
      <input
          type="text" 
          class="rounded-l-lg border-black border-solid border-2 focus:ring focus:ring-blue-200 
           py-2 w-[600px] shadow-sm  mt-4" 
          placeholder="Search a movie" 
          [(ngModel)]="searchText"
          />
      <button  (click)="searchUser()"
          class="rounded-r-lg bg-black border-black border-solid border-2 border-collapse w-20
           hover:bg-gray-800 text-white  py-2 mt-4"
        >
      Search
      </button>
      <!-- <button  (click)="resetData()"
          class="rounded-r-lg bg-black border-black border-solid border-2 border-collapse w-20
           hover:bg-gray-800 text-white  py-2 mt-4 ml-4"
        >
      reset
      </button> -->
  </div>
  <!-- <div *ngIf="(clickedStatus)='onClickedStatusChange($event)'; else elseBlock">
      <app-accordion [mData]="mData"></app-accordion>
   </div> -->
   <!-- Event Binding for clickedStatus in app-accordion -->
<!-- <app-accordion (clickedStatus)="onClickedStatusChange($event)" mData="[mData]">
    <!-- Conditional rendering using *ngIf 
    <div *ngIf="isAccordionClicked;else #elseBlock">
      <p>The accordion is clicked!</p>
    </div>
</app-accordion>

<div  #elseBlock>
    @for (data of mData;track data){
        <app-card [movieData]="data"></app-card>
        }
</div> -->
<!-- <ng-template #elseBlock>
    @for (data of mData;track data){
        <app-card [movieData]="data"></app-card>
        }
</ng-template> -->

<!-- Event Binding for clickedStatus -->
<app-accordion (clickedStatus)="onClickedStatusChange($event)" [mData]="mData" (sentData)="onReceiveData($event)"></app-accordion>

<!-- <div *ngIf="reset; else elseBlock">
    @for (data of intialData;track data){
        <app-card [movieData]="data"></app-card>
        }
</div> -->
<!-- Conditional rendering using *ngIf and referencing the else block -->
<div *ngIf="isAccordionClicked; else elseBlock" #allData>
    @for (data of receivedData;track data){
        <app-card [movieData]="data"></app-card>
        }
</div>

<!-- Else block using ng-template -->
<ng-template #elseBlock>
    @for (data of mData;track data){
        <app-card [movieData]="data"></app-card>
        }
</ng-template>
 

</div>
  